body {
  background: -webkit-repeating-linear-gradient(
    127deg,
    lighten(#BAD3FF, 90%),
    lighten(#BAD3FF, 10%) 1px,
    #FDFDFF 60px,
    #FDFDFF 80px
  );
  background: repeating-linear-gradient(
    127deg,
    lighten(#BAD3FF, 90%),
    lighten(#BAD3FF, 10%) 1px,
    #FDFDFF 60px,
    #FDFDFF 80px
  );
}

p + * {
  margin-top: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.414em 0 0.5em;
}

h1 {
  margin-top: 0;
}

section {
  background-color: floralwhite;
  border-top: 4px solid lighten(#BAD3FF, 10%);
  border-bottom: 4px solid lighten(#BAD3FF, 10%);
  padding: 2em;

  p {
    margin: auto;
    max-width: 34em;
  }
}
