header {
  margin-bottom: -1.5em;
  position: relative;
  z-index: 2;
}
.name {
  background-color: #FDFDFF; 
  border-radius: .3em;
  color: yellow;
  color: lighten(#BAD3FF, 10%);
  display: inline-block;
  font-weight: 900;
  margin: .5em .5em 0;
  padding: .5em;
}
.name span {
  background-color: #111;
  display: inline-block;
  line-height: 1.4em;
  padding: 0;
  margin: .12em 0;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  vertical-align: top;
}
.name i {
  font-style: normal;
}

