header {
  margin-bottom: -1.5em;
  position: relative;
  text-align: right;
  z-index: 2;
}
.name {
  color: lighten(#BAD3FF, 10%);
  display: inline-block;
  font-weight: 900;
  padding: .8em;
}
.name span {
  background-color: #111;
  background-color: darken(#BAD3FF, 70%);
  display: inline-block;
  line-height: 1.4em;
  padding: 0;
  margin: .12em 0;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  vertical-align: top;
}
.name i {
  font-style: normal;
}
.name::after {
  background-color: lighten(#BAD3FF, 10%);
  box-shadow: 0 1px 1px #2c3e50;
  color: #2c3e50;
  content: 'affordable furshlugginer';
  display: block;
  font-family: serif;
  font-size: .8em;
  font-weight: normal;
  margin-top: .3em;
  opacity: .9;
  padding: .2em 0;
  text-align: center;

  .fonts-loaded & {
    font-family: 'Libre Baskerville', serif;
  }
}
