html {
  //font-size: 1em;
  font-size: calc(1em + 1vw);
}

body {
  font-family: serif;
  line-height: 1.5;

  .fonts-loaded & {
    font-family: 'Libre Baskerville', serif;
  }
}
h1, h2, h3, h4, h5, h6, label, .name, .logo {
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.2;

  .fonts-loaded & {
    font-family: 'Open Sans', sans-serif;
  }
}

h1 {font-size: 2.441em;}
h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}
small, .font_small {font-size: 0.8em;}
