// THE VARIABLES

/*
 * COLORS - start with c-
 */

// background colors start with c-bg-
$c-bg-1: #ecf0f1;
$c-bg-2: #eee;
$c-bg-3: #fff;

// border colors start with c-b-
$c-b-1: #111;

// font colors start with c-f-
$c-f-1: #111;
$c-f-2: #444;
$c-f-3: #fff;

// box-shadow colors start with c-bs-
$c-bs-1: #ddd;

